<launch>
    <include file="$(find active_slam)/launch/active_slam_rviz.launch"/>
    <node pkg="active_slam" type="mapping_navigation" name="navigation"  output="screen"/>
    <node pkg="active_slam" type="mapping_slam"       name="slam"                       />
    <node pkg="active_slam" type="mapping_plot"       name="plot"                       />
    <!-- <group ns="/dtw_robot1">
        <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
            <param name="robot_base_frame" value="dtw_robot1/base_link"/>
            <param name="costmap_topic" value="map"/>
            <param name="visualize" value="true"/>
        </node>
    </group> -->
</launch>